@use "../../utilities/variables" as v;

.input {
  &__container {
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    @include v.regular-label;
    border-radius: 10px;
    border: 1px solid v.$color-neutral-20;
    padding: 12px 12px 12px 15px;
    &::placeholder {
      font-family: "Poppins", sans-serif;
      color: v.$color-neutral-30;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
    }
    &:hover {
      cursor: pointer;
    }
    &:active {
      border: 1px solid v.$color-primary-50;
    }
    &:focus {
      border: 1px solid v.$color-primary-50;
    }
    &:focus-visible {
      outline: none;
      border: 1px solid v.$color-primary-50;
    }
  }
}
