@use "../../utilities/variables" as v;

.picker {
  height: 60px;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  padding: 12px 16px;
  background-color: v.$color-neutral-10;
  display: flex;
  align-items: center;
  gap: 16px;
  &__icon {
    &-wrapper {
    }
  }
  &__label {
    @include v.bold-label;
    color: v.$color-neutral-100;
    min-width: fit-content;
  }
  &__input {
    @include v.regular-label;
    color: v.$color-neutral-100;
    width: 100%;
    text-align: end;
    background-color: transparent;
    border: none;
    outline: none;
    &-wrapper {
      @include v.regular-label;
      color: v.$color-neutral-50;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
